  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Quiz App - Welcome</title>
      <link rel="stylesheet" href="/styles.css">

  </head>
  <body>
      <div class="container">
          <h1>Welcome to the best CEH training</h1>
                    <p>There are <%= totalQuestions %> questions in the quiz. Are you ready?</p>
          <nav>
                <a href="/question">Start Quiz</a>
                <a href="/stats">Statistics</a>
            </nav>
      </div>
  </body>
  </html>
